.container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  font-family: sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #ecf2f6;
  height: 100vh;
  padding-top: 1vh;
}

#searchList {
  padding-left: 20px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7FU6w8CjFGxIU7BwH3-sSTtUgdaPlHksqsg&usqp=CAU")
    no-repeat left;
  background-size: 1rem;
  width: 20vh;
  height: 1rem;
  border: 1px solid #edf3f6;
  background-color: rgb(247, 248, 248);
  font-size: small;
  border-radius: 3px;
  background-position-x: 2px;
}
::placeholder {
  color: #b2bbc3;
}
.logoContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 0 0 1.5vh;
}

.logoContainer img {
  margin: 1vh;
  margin-left: 0;
  height: 2vh;
}

img {
  margin: 0;
}
#taskApp {
  font-family: sans-serif;
  color: rgb(144, 82, 82);
  font-weight: bold;
}
.bodyContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  flex-flow: column wrap;
  color: #333;
  padding: 0 1vh 1vh 1vh;
  border-bottom: 0.1rem solid #ecf2f6;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  color: rgb(160, 152, 152);
  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  font-size: small;
  padding: 0 0 0 1vh;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
}
a:hover {
  color: #d7e0e9;
}

svg {
  color: #959da5;
  padding-right: 0.3rem;
}
#homeLabel {
  padding-top: 0.1rem;
  padding-left: 0.3rem;
  font-weight: 600;
  color: #827f7f;
  font-size: smaller;
  display: flex;
  align-self: center;
}
