.topBar {
  color: #101010;
  border-bottom: 1px solid #ecf2f6;
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vh;
  justify-content: space-between;
  position: relative;
}

.navOption {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  color: #4e4d4d;
  font-size: smaller;
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navOption:last-of-type {
  margin-left: auto;
}
.navOption img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.navSeparator {
  height: 18px;
  width: 1px;
  background-color: #ecf2f6;
  margin-right: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 248, 248);
  padding: 2rem;
  border-radius: 1vh;
}

.closeButton {
  font-size: x-small;
  text-align: center;
  text-decoration: none;
  background-color: rgb(141, 104, 228);
  padding: 5px 15px;
  border: 0.5px solid rgba(252, 250, 250, 0.1);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}
.createButton {
  font-size: x-small;
  text-decoration: none;
  background-color: rgb(141, 104, 228);
  border: 0.5px solid rgba(252, 250, 250, 0.1);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
.closeButton:hover,
.createButton:hover {
  background-color: rgb(201, 183, 244);
}
.create {
  font-size: x-small;
  text-align: center;
  text-decoration: none;
  background-color: rgb(141, 104, 228);
  padding: 5px 15px;
  border: 0.5px solid rgba(252, 250, 250, 0.1);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
.create:hover {
  background-color: rgb(201, 183, 244);
}
#board {
  color: rgb(115, 87, 182);
}
#board img {
  width: 20px;
  height: 20px;
}
#topList {
  display: flex;
  align-items: center;
  color: #4e4d4d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
#firstListLogo {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  padding-right: 1vh;
}
#list {
  font-weight: 600;
}
#popupInput {
  width: 20vh;
  height: 10vh;
}
.textarea {
  resize: none;
}
#addBox {
  height: 2vh;
  width: 2vh;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
